:root {
    --main-color: #be264c;
    --content-background-color: #00000012;
}
* {
    font-family: 'Nunito', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html,
body {
    width: 100%;
    display: flex;
}
body {
    justify-content: center;
}
.wrapper {
    margin: 30px 40px;
    max-width: 1270px;
    width: 100%;
    display: flex;
    justify-content: center;
    -webkit-box-shadow: 0px 5px 29px 9px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 5px 29px 9px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 5px 29px 9px rgba(34, 60, 80, 0.2);
    padding: 20px 30px;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
}
.figure {
    width: 700px;
    height: 700px;
    background-color: var(--main-color);
    position: absolute;
    transform: rotate(60deg);
    top: -480px;
    left: -270px;
    z-index: -1;
}
.left-column-header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.left-column,
.right-column {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 20px;
}
.cv-photo {
    width: 40%;
    border-radius: 100%;
    border: 3px solid #fff;
    -webkit-box-shadow: 0px 5px 31px 5px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 5px 31px 5px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 5px 31px 5px rgba(0, 0, 0, 0.3);
}
h1 {
    font-size: 45px;
    font-weight: 700;
}
h2 {
    font-size: 38px;
    font-weight: 400;
}
h3 {
    font-size: 32px;
    font-weight: 400;
    text-transform: uppercase;
    background-color: var(--main-color);
    color: #fff;
    padding: 5px 10px;
    border-radius: 10px;
}
.left-column-contacts,
.left-column-skills,
.left-column-languages {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.left-column-contacts ul,
.left-column-skills ul,
.left-column-languages ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    background-color: var(--content-background-color);
    padding: 15px;
    border-radius: 10px;
}
.left-column-contacts li,
.left-column-skills li,
.left-column-languages li {
    list-style-type: none;
    font-weight: 400;
    font-size: 23px;
}
.left-column-skills li::before,
.left-column-languages li::before {
    content: '\2022';
    color: var(--main-color);
    width: 10px;
    margin-right: 5px;
}
.left-column-contacts li a {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.right-column-about,
.right-column-education {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.right-column-about p {
    border-left: 1px solid var(--main-color);
    font-size: 23px;
    font-weight: 400;
    padding: 0 15px;
    background-color: var(--content-background-color);
    padding: 15px;
    border-radius: 10px;
}
.right-column-education ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    background-color: var(--content-background-color);
    padding: 15px;
    border-radius: 10px;
}
.right-column-education li {
    list-style-type: none;
    font-weight: 400;
    font-size: 23px;
}
.right-column-education li::before {
    content: '\2022';
    color: var(--main-color);
    width: 10px;
    margin-right: 5px;
}
